<!-- Conteúdo da Página -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-white mt-5 mb-2">Clínicas Serasa - Marlus Abbade</h1>
          <p class="lead mb-5 text-white">Sistema de clínicas especializadas Serasa, para atender você.</p>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container main-container">
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/imagem-1.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Nossas clínicas</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/imagem-2.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Especialidades</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/imagem-3.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Emergência</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/imagem-4.jpeg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Planos</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Conteúdo da página Fim -->
  
  